#home-content {
  margin:80px;
  padding-top:650px;
}

.tag-line {
  font-family: 'futura', 'poppins', sans-serif!important;
  font-weight:400;
  font-size: 42px;
  padding-bottom: 40px;
}

.para {
  font-family: 'Roboto', sans-serif!important;
  font-weight:400;
  font-size: 16px;
  margin-bottom: 1.5rem;
  letter-spacing: 0.01rem;
  line-height: 1.7;
}
