#review-list i{
  color:#3eca59;
  margin:0px;
}

.review-image {
  width:654px;
}

.review-text {
  font-family: "Open Sans",Gotham,gotham,Tahoma,Geneva,sans-serif;
  font-weight: normal;
  color: black;
  
}
